@import "var.scss";

@media (max-width: $tabletPixels){
    .product_info_content{
        margin-top: 0;
        width: 100%;
    }
}


@media (max-width: $phonePixels){

    .product_block{
        position: relative;
    }

    .product_pointer{
        position: absolute;
    }

    .product_pointer-left, .roduct_pointer-right {
        top: auto;
    }

    .product_pointer-right{
        right: 0;
    }

    .product-phone__img{
        width: 97vw;
    }

    .product_info_navigation div{
        font-size: 10px;
    }

    .product_container_s{
        height: 100vw;
    }

    .product_info{
        margin-top: 80px;
    }

}



