@import "var.scss";

@media (max-width: $tabletPixels){
}


@media (max-width: $phonePixels){
    .top_container_content{
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding-top: 24px;
    }

    .top_container_content_left{
        margin-bottom: 32px;
    }

    .open-text, .open-img{       
        display: none;
    }

    .filter-phone{
        display: block;
    }

    .filter-list{
        word-break: break-word;
    }

    .catalog-property{
        font-size: 12px;
    }

    .catalog_navigation_right{
        gap: 10px;
    }
}

