@import "var.scss";

body {
    min-height: 100vh;
}

.page{
    display: grid;
    grid-template-rows: min-content 1fr  min-content;
}

* {
    color: blanchedalmond;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.header {
    background-color: black;
    padding: 18px 0 19px 0;
}

.header-menu-burger{
    position: absolute;
    right: 0px;
    top: 60px;
    z-index: 10;
    width: 100%;
    background-color: #fff;
    height: calc(100vh - 63px);
    max-height: 768px;
    padding: 20px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    display: none;
}

#burger{
    display: none;
}
.burger-svg{
 margin-right: 33px;
}

#burger:checked ~.header-menu-burger {
    display: block;
  }

.burger-wrap{
    position: relative;
}

.burger-wrap-close{
    position: absolute;
    right: 0px;
    top: -20px;
}

.burger-wrap-close:hover svg path{
cursor: pointer;
fill:$decoreColor;
}

.burger-wrap-close:hover svg {
    cursor: pointer;
    transition: all 0.5s;
    transform: scale(1.3);
}

.nav__list{
    list-style: none;
    padding-left: 8%;
    margin-top: 0px;
}

.nav__title{
    font-size: 14px;
    color: #000;
    font-weight: 700;
    margin-bottom: 10%;
}

.nav__heading{
    font-size: 14px;
    color:$decoreColor;
    font-weight: 400;
    margin-bottom: 0px;
}


.nav__item{
    padding: 5px;
}
.nav__item a{
    font-size: 14px;
    color: #6F6E6E;
    text-decoration: none;
}

.nav__item a:hover{
    color: $decoreColor;
}

.container {
    max-width: 1160px;
    padding: 0 10px;  
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.header_container {
    display: flex;
    justify-content: space-between;
}

.header_logo{
    margin-right: 41px;
}

.header__menu{
    position: relative;
}
.header_nav a:not(:last-child){
    margin-right: 33px;
}

.nav-hover:hover path{
    transition: all 0.2s;
    fill: $decoreColor;
}

.nav-hover:hover {
    cursor: pointer;
    transition: all 0.2s;
    transform: scale(1.2);
}

.promo {
    background-color: #F1E4E6;
    margin-bottom: 65px;
}

.promo_container{
    height: 764px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: url(/img/man.png) no-repeat;
    background-position: -228px bottom;
}

.promo_text{
    max-width: 40%;
    margin-left: 30%;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.promo_text h1{
    font-size: 32px;
    margin: 0;
    color: #000;
}

.promo_decore {
    color: #F16D7F;
}

.promo_bigtext{
    font-size: 48px;
    color: #000;
}


.product{
    margin-bottom: 96px;
}

.product_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2%;
}




.product_card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product_card:not(:last-child){
    width: 30%;
    min-height: 260px;
}

.product_card:last-child{
    width: 100%;
    min-height: 180px;
    margin-top: 30px;
}

.product_card h2{
    font-size: 16px;
    color: #FFFF;
    font-weight: normal;
}

.product_textdecore{
    color:#F16D7F;
    font-size: 24px;
    font-weight: normal;
}

.content{
    margin-bottom: 95px;
}

.content_h2{
    color: #000;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 48px;
}

.content_textdecore{
    color: #9F9F9F;
    font-size: 14px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 48px;
}

.card{
    width: 30%;
    background-color: #F8F8F8;
}

.card_image{
    width: 100%;
    margin-bottom: 10px;
}

.card-imgage__block{
    position: relative;
}

.card-imgage__block:hover .card-overlay{
    transition: all 0.5s;
    opacity: 1;
}

.card-add{
    color: white;
    text-align: center;
    white-space: nowrap;
    padding: 10px 10px 10px 35px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid white;
    position: relative;
}

.card-add:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: all 0.5s;
    background-color: $decoreColor;
}

.card-add-image{
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.card-overlay{  
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_text{
    padding-left: 18px;
}

.card_text a {
    text-decoration: none;
}

.card_text a h3:hover {
    color: $decoreColor;
}

.card_h3{
    font-size: 13px;
    color: #000;
    font-weight: 400;
}

.card_info{
    font-weight: 300;
    font-size: 14px;
    color: #5D5D5D;
}

.card_price{
    margin-top: 18px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #F26376;
}

.buton{
    display: flex;
    justify-content: center;
  }
  
  .button_browse{
    min-height: 48px;
    max-width: 212px;
    color: #F26376;
    text-align: center;
    white-space: nowrap;
    padding: 15px 40px;
    background-color: white;
    border: 1px solid #F26376;
  }

  .button_browse:hover{
    color: white;
    background-color: #F26376;
    border: 1px solid #F26376;
    cursor: pointer;
    transition: all 0.2s;
  }

  .button_browse:focus{
    color: white;
    background-color: #F26376;
    border: 1px solid #F26376;
    cursor: pointer;
    transition: all 0.2s;
  }

footer{
    outline: 1px solid rebeccapurple;
    background-color: #222224;
}

.footer_info{
    box-sizing: border-box;
    min-height: 340px;
    padding-top: 100px;
    padding-bottom: 100px;;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.footer_info_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    font-weight: 300;
    font-size: 14px;
    color: #FBFBFB;
}

.footer_info_content h2{
    font-weight: 400;
    font-size: 20px;
    color: #FBFBFB;
    margin: 0;
    padding: 30px 0 16px 0;
}

.footer_contacts{
    max-width: 1600px;
    margin: 0 auto;
    background: url(/img/footer_back.jpg);
    min-height: 450px;
}

.footer_contacts_content{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.footer_contacts_content_left{
    max-width: 360px;
    color: #222224;
    text-align: center;
}

.footer_photo{
    padding-bottom: 30px;
}

.footer_contacts_content_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 35%;
    color: #222224;
    text-align: center;
    font-weight: 400;
    font-size: 18px;

}

.footer_concacts_decore{
    font-weight: 600;
    color: #222224;
    font-size: 24px;
}

.footer_btn{
    display: flex;
    margin: 0 auto;
    padding-top: 32px;
}

.footer_btn input {
    background-color: #E1E1E1;
    border-radius: 30px 0 0 30px;
    color: black;
    padding: 20px;
    border: none;
    outline: none;
}

.footer_btn input:focus {
    background-color: #68626250;
    transition: all 0.5s;
}

.footer_btn button {
    background-color: #F16D7F;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    color: white;
    border: none;
    outline: none;
}

.footer_btn button:focus{
    background-color: #af1d31;
    transition: all 0.2s;
}

.footer_btn button:hover {
    background-color: #af1d31;
    transition: all 0.2s;
}

.footer_copyright{
    min-height: 80px;
    display: flex;
    justify-content: space-between;
}

.footer_left{
    color: white;
    font-size: 16px;
    font-weight: normal;
    padding-top: 30px;
}

.footer_right{
    padding-top: 24px;
}

.footer_logos {
    display: flex;
    gap: 7px;
}

.footer_logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    background-color: white;
}

.footer_logo-img:hover{
    transition: all 0.5s;
    cursor: pointer;
    background-color: $decoreColor;
}

.footer_logo-img:hover .footer-svg path{

    fill: white;
}
.top_container_content{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.top_container{
    min-height: 148px;
    background-color: #F8F3F4;
}

.top_container_content_left{
    color: #F16D7F;
    font-size: 24px;
}

.top_container_content_right,.top_container_content_right a{
    text-decoration: none;
    color: #636363;
    font-size: 14px;
}

.top_container_content_right a:hover{
    color: #F16D7F;
}

.catalog_navigation{
    box-sizing: border-box;
    min-height: 132px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

@import "var.scss";
.filter{
    box-sizing: border-box;
    position: relative;
    width: 31%;
    box-sizing: border-box;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 1;

    & summary{
        color: #000;
        display: block;
        margin-bottom: 20px;
        padding: 10px;
    }

    &-content-subtitle{
        cursor: pointer;
        border-left: 5px solid $decoreColor;
        border-bottom: 1px solid #EBEBEB ;
        height: 20px;   
    }
    
    &-list{
        list-style-type: none;
        & a{
            color: #6F6E6E;
            text-decoration: none;
        }

        & a:hover{
            color: $decoreColor;
        }

        & li {
            margin-bottom: 15px;
        }
    }


    & img{
        padding-left: 10px;
        cursor: pointer;
    }

    &-content{
        width: 100%;
        position: absolute;
        background-color: white;
    }

}

.filter[open] {
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  }

details[open] > summary > .open-text {
    color: $decoreColor;
}

details[open] > summary {
    color: $decoreColor;
}

.catalog_navigation_right{
    display: flex;
    gap: 30px;
}

.catalog-property{
    color: #6F6E6E;
    position: relative;
}

.catalog-property:hover{
    cursor: pointer;
   }

.catalog-property:hover .catalog-property__param{
    display: block;
}

.catalog-property__param{
    display: inline-block;
    display: flex;
    display: none;
    flex-direction: column;
    width: 100%;   
    position: absolute;
    outline: 1px solid #6F6E6E;
    z-index: 1;
    background-color: white;
    margin-top: 10px;
    word-break: break-word;
    padding: 5%;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.catalog-property__param label{
    color: #6F6E6E;
    padding-left: 5px;
}

.catalog-property__param label:hover{
    cursor: pointer;
    color: $decoreColor;
}

.pages{
    display: flex;
    justify-content: center;
}

.pages_content{
    box-sizing: border-box;
    min-width: 284px;
    height: 44px;
    outline: 1px solid #EBEBEB;
    padding-top: 13px;
}

.pages_content a{
    text-decoration: none;
    padding: 10px;
    color: #C4C4C4;
    font-size: 16px;
}

.pages_content a:hover{
    color: #F16D7F;
}

.product_block {
    background-color: #F7F7F7;
    position: relative;
}

.product_container_s{
    height: 777px;
    max-width: 1600px; 
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 5px 0 5px;
    align-items: center;
}


.product_pointer{
    min-height: 47px;
    width: 47px;
    background-color:darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_pointer:hover{
    cursor: pointer;
    background-color: #F16D7F;
    transition: all 0.5s;
}

.product_info{
    min-height: 600px;
    margin-bottom: 130px; 
}


.product_info_content{
    background-color: white;
    height: 600px;
    // width: 1140px;
    width: 70%;
    margin-top: -64px;
    position: relative; 
    text-align: center;
    outline: 1px solid #EAEAEA;
}

.product_h2{
    max-width: 160px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 10px;
    position: relative;
}

.product_h2:after{
    content: "";
    height: 3px;
    width: 63px;
    background-color:  #EF5B70;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin: 0 0 0 -30px;
}

.product_text span{
    color:#F16D7F;
    font-weight: 300;
    font-size: 14px;
}

.product_text{
    max-width: 640px;
    margin: 0 auto;
    margin-bottom: 64px;
    border-bottom: 1px solid darkgray;
}

.product_text_content h2 {
    padding: 0;
    margin: 0;
    color: #4D4D4D;
    font-weight: 300;
    font-size: 18px;
}

.product_text_content{
    font-weight: 300;
    color: #5E5E5E;
    font-size: 14px;
}

.product_price{
    color:#F16D7F;
    font-size: 24px;
    font-weight: 300;
    padding-top: 32px;
    padding-bottom: 64px;
}

.product_info_navigation{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
   
}

.product_info_navigation div{
    color: #6F6E6E;
    font-size: 14px;
}

.product_info_navigation div:not(:last-child){
    padding-right: 20px;
}

.button_add{
    color: #F26376;
    text-align: center;
    white-space: nowrap;
    padding: 15px 60px 15px 80px;
    background-color: white;
    border: 1px solid #F26376;
    position: relative;
  }

 .product_info_svg{
    position: absolute;
    left: 30px;
    bottom: 8px;
 } 

  .button_add:hover{
    color: white;
    background-color: #F26376;
    border: 1px solid #F26376;
    cursor: pointer;
    transition: all 0.2s;
  }

  .button_add:hover .product_info_svg path{
    transition: all 0.2s;
    fill:white;
  }

//
//Препроцессоры
//

@import "var.scss";
.cart{
    box-sizing: border-box;
    padding-top: 100px;
    min-height: 1000px;
  

    &_container{
        display: flex;
        color: #000;
    }

    &-about{
        width: 60%;
        margin-right: 5%;
        
        &_btns{
            display: flex;
            justify-content: space-between;
        }

        &__btn{
            background-color: white;
            color: #000;
            cursor: pointer;
            border: none;
            outline: 1px solid #A4A4A4;
            width: 235px;
            height: 50px;
        }

        &__btn:hover{
            background-color: $decoreColor;
            color: white;
            transition: all 0.5s;
        }
    }

    &-form{
        width: 40%; 
        
        &_form{
            width: 85%;
            min-height: 360px;
            
        }

        &__h3{
            color: #000;
            font-size: 16px;
            font-weight: 300;
        }

        &__input{
            margin-bottom: 20px;
            width: 100%;
            // height: 45px;
            color:black;
            padding: 16px 30px 16px 10px;
        }

        &__submit{
            font-size: 13px;
            background-color: white;
            color: #575757;
            cursor: pointer;
            border: none;
            outline: 1px solid #A4A4A4;
            width: 100px;
            height: 34px;
        }

        &__submit:hover{
            background-color: $decoreColor;
            color: white;
            transition: all 0.5s;
        }
    }

    &-price{
        height: 26%;
        width: 100%;
        background-color: #F5F3F3;
        box-sizing: border-box;
        padding: 10px;

        &__info{            
            width: 80%;
            height: 50%;
            margin: 0 auto;
            border-bottom: 1px solid #E2E2E2;
            box-sizing: border-box;
            padding-top: 40px;
            & div{
                color: #000;
                text-align: right;
            }
        }

        &_pre-price{
            font-size: 11px;
            margin-bottom: 12px;
        }

        &_total-price{
            font-size: 16px;
        }
        

        &_btn-block{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 20px;
        }

        &__btn{
            font-size: 16px;
            background-color: white;
            color: #575757;
            cursor: pointer;
            border: none;
            outline: 1px solid #A4A4A4;
            width: 273px;
            height: 50px;
        }  
        
        &__btn:hover{
            background-color: $decoreColor;
            color: white;
            transition: all 0.5s;
        }
    }
  }

.item-about{
    display: flex; 
    max-width: 650px;
    margin-bottom: 40px;
    outline: 1px solid #EAEAEA;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    &__img{
        padding-right: 3%;
    }

    &_text{
        width: 100%;
        padding: 3%;
    }

    &__title{ 
       display: flex;
       justify-content: space-between;
       margin-bottom: 42px;
       width: 100%;
       & .title a{
        text-decoration: none;
        color: black;
        font-size: 24px;    
       }

       & .title a:hover{
           color: $decoreColor;
       }
    }

    &__p div{
        color: #575757;
        font-size: 22px;
        margin-bottom: 6px;
    }

    &__quantity{
        display: flex;
        gap: 40px;
    }
}

.decore{
    color:$decoreColor;
}

.quantity-decore{
    outline: 1px solid #EAEAEA;
    width: 43px;
    height: 24px;
    color: #656565;
    text-align: center;
}

.registration {
    box-sizing: border-box;
    margin-bottom: 100px;
    &_container{
        min-height: 675px;
        display: flex;
    }

    &-about{
        width: 40%;

    }

    &-info{
        width: 60%;
        padding: 10px;
        &__title{
            color: #000;
            font-weight: 300;
            font-size: 24px;
        }

        &_list{
            list-style-type: none;
        }

        &__text, &__item{
            color: #000;
            font-weight: 300;
            font-size: 24px;
        }

        &__item{
            position: relative;
        }

        &__item:after{
            content: url(/img/registration_decore.svg);
            height: 10px;
            width: 10px;
            position: absolute;
            bottom: 20px;
            left: -30px;

        }
    }

    &-form{
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    &-form > input {
        height: 10%;
        margin: 20px 0px;
        padding:16px 30px 16px 10px;
        color: black;
    }

    &-title{
        color: #222222;
        font-weight: 300;
        font-size: 16px;
    }

    &-radio{
        display: flex;
        margin-bottom: 33px;
    }

    &-radio div{
        color: #222222;
        font-weight: 300;
        font-size: 11px;
    }

    &-radio div input {margin-right: 10px;}

    &-radio div:first-child{
        margin-right: 20px;
    }

    &-text{
        color: #B1B1B1;
        font-weight: 300;
        font-size: 11px;
        margin-bottom: 40px;
    }

    &-btn{
        font-size: 16px;
        background-color: white;
        color: #575757;
        cursor: pointer;
        border: none;
        outline: 1px solid #A4A4A4;
        width: 167px;
        height: 50px;
        text-align: left;
        padding-left: 30px;

        &:hover{
            background-color: $decoreColor;
            color: white;
            transition: all 0.5s;
            transform: scale(1.1);
        }

        &:hover svg path{
            fill: white; 
            transition: all 0.5s;
        }
    }

    &-svg{
        display: inline;
        margin-left: 10px;
    }
}

.filter-phone{
    display: none;
}

.open-text{
    color: #000;
}


.delete-cart-item{
    cursor: pointer;
    border: none;
    background: none;
}

.delete-cart-item:hover{
    transition: all 0.2s;
    transform: scale(1.5);
}

.delete-cart-item:hover svg path {
    fill: $decoreColor;
}




@import "_media-footer.scss";
@import "_media-header.scss";
@import "_media-index.scss";
@import "_media-catalog.scss";
@import "_media-product.scss";
@import "_media-cart.scss";
@import "_media-registration.scss";






  
