* {
    color: blanchedalmond;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: black;
    padding: 18px 0 19px 0;
}

.container {
    max-width: 1160px;
    padding: 0 10px;  
    width: 100%;
    margin: 0 auto;
}

.header_container {
    display: flex;
    justify-content: space-between;
}

.header_logo{
    margin-right: 41px;
}

.header_nav a:not(:last-child){
    margin-right: 33px;
}

.promo {
    background-color: #F1E4E6;
    margin-bottom: 65px;
}

.promo_container{
    min-height: 764px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: url(/img/man.png) no-repeat;
    background-position: -228px bottom;
}

.promo_text{
    max-width: 377px;
    width: 50%;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.promo_text h1{
    font-size: 32px;
    margin: 0;
    color: #000;
}

.promo_decore {
    color: #F16D7F;
}

.promo_bigtext{
    font-size: 48px;
    color: #000;
}

.product{
    margin-bottom: 96px;
}

.product_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.product_card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product_card:not(:last-child){
    width: 30%;
    min-height: 260px;
}

.product_card:last-child{
    width: 100%;
    min-height: 180px;
}

.product_card h2{
    font-size: 16px;
    color: #FFFF;
    font-weight: normal;
}

.product_textdecore{
    color:#F16D7F;
    font-size: 24px;
    font-weight: normal;
}

.content_h2{
    color: #000;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 48px;
}

.content_textdecore{
    color: #9F9F9F;
    font-size: 14px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 48px;
}

.card{
    width: 30%;
    background-color: #F8F8F8;
}

.card_image{
    width: 100%;
    margin-bottom: 10px;
}

.card_text{
    margin-left: 18px;
}

.card_h3{
    font-size: 13px;
    color: #000;
    font-weight: 400;
}

.card_info{
    font-weight: 300;
    font-size: 14px;
    color: #5D5D5D;
}

.card_price{
    margin-top: 18px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #F26376;
}

.buton{
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
  }
  
  .button_browse{
    min-height: 48px;
    max-width: 212px;
    color: #F26376;
    text-align: center;
    white-space: nowrap;
    padding: 15px 40px;
    background-color: white;
    border: 1px solid #F26376;
  }

  .button_browse:hover{
    min-height: 48px;
    max-width: 212px;
    color: white;
    text-align: center;
    white-space: nowrap;
    padding: 15px 40px;
    background-color: #F26376;
    border: 1px solid #F26376;
  }
  



