#preview {
    margin: auto;
    padding: 10px;
    height: 100px;
    width: 400px;
    border: 1px solid;
}

#content {
    margin: auto;
    margin-top: 40px;
    height: 400px;
    width: 700px;
    border: 1px solid;
}

#btnBlock{
    margin: auto;
    margin-top: 20px;
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.smallPhoto {
    height: 80px;
    width: 100px;
    display: inline-block;
    border: 1px solid #000;
}

img{
    max-width: 100%;
    height: 80px;
}

.contentImg{
    height: 100%;
    width: 100%;
}