
.container {
    max-width: 1180px;
    margin: 0 auto;
}

.header{
    background-color: indianred;
    padding-top: 20px;
    margin-bottom: 50px;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.btn-cart, .card-btn{
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.prodcut-item{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    outline: 1px solid darkgray;
}

.card-image{
    outline: 1px solid grey;
}